<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <!-- jQuery library -->
  <script src="{% static "js/jquery.min.js" %}"></script>
  <!-- Popper JS -->
  <script src="{% static "js/popper.min.js" %}"></script>
  <!-- Latest compiled JavaScript -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>


  <!-- for table search  -->
  <script src="{% static "js/datatables.min.js" %}"></script>
  <script src="{% static "js/datatables.min.js.map" %}"></script>
  <script src="{% static "js/datatables-select.min.js" %}"></script>
  <script src="{% static "js/datatables-select.min.js.map" %}"></script>
  <title>{{ title }}</title>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" >
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     <!-- <a class="navbar-brand" style="color:white" href="#">Logo</a> -->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active" >
          <a class="nav-link" style="color:white" href="{% url 'cbv:Home' %}">Home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" style="color:white" href="{% url 'cbv:AddMusician' %}">Add Musician</a>
        </li>



    </div>
    <a class="navbar-brand" style="color:white" href="#">Logo</a>
  </nav>
<div class="container" style="padding-top:20px;">
{% block body_block %}

{% endblock %}
</div>
</body>
</html>
<script type="text/javascript">
$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>





<!-- <script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/mdb.js" %}"></script>
<script src="{% static "js/mdb.lite.min.js.map" %}"></script>
<script src="{% static "js/mdb.min.js" %}"></script>
<script src="{% static "js/mdb.min.js.map" %}"></script>
<script src="{% static "js/popper.js" %}"></script> -->

<!-- <script src="{% static "js/directives.min.js" %}"></script>
<script src="{% static "js/directives.min.js.map" %}"></script>
<script src="{% static "js/flag.min.js" %}"></script>
<script src="{% static "js/flag.min.js.map" %}"></script>
<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/imagesloaded.pkgd.min.js.map" %}"></script>
<script src="{% static "js/jquery.zmd.hierarchical-display.min.js" %}"></script>
<script src="{% static "js/jquery.zmd.hierarchical-display.min.js.map" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js.map" %}"></script>

<script src="{% static "js/rating.min.js" %}"></script>
<script src="{% static "js/rating.min.js.map" %}"></script> -->
