{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<h1 align="center">{{ text }}</h1>
<table style="padding-top:40px;" id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">First Name
        </th>
        <th class="th-sm">Last Name
        </th>
        <th class="th-sm">Instrument
        </th>
        <th class="th-sm">Action
        </th>

      </tr>
    </thead>

      <tbody>
        {% if musician_list %}
          {% for musician in musician_list %}
          <tr>
            <td> <a href="{% url 'cbv:musicians' pk=musician.pk  %}"> {{ musician.first_name }} </a> </td>
            <td>{{ musician.last_name }}</td>
            <td>{{ musician.instrument }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'cbv:UpdateMusician' pk=musician.pk %}">Edit</a>
              <a class="btn btn-danger" href="{% url 'cbv:DeleteMusician' pk=musician.pk %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
    {% else %}
          <tr>
            <td colspan="4" align="center"> No musician</td>

          </tr>
    {% endif %}

      </tbody>
      <tfoot>

      </tfoot>

    </table>


{% endblock %}
